<google-map
        #map="googleMap"
        height="100%"
        width="100%"
        [zoom]="zoom"
        [center]="center"
        [options]="options">

    <map-marker
            #markerElem="mapMarker"
            *ngFor="let marker of markers"
            [position]="marker.position"
            [label]="marker.label"
            [title]="marker.title"
            [options]="marker.options"

            (mapClick)="openInfo(markerElem, marker)">
    </map-marker>

    <map-info-window #infoWindow="mapInfoWindow">
        <img class="object-img" src="{{object.image}}">
        <div class="object-info">
            <h3 class="object-info-title">{{object.title}}</h3>
            <!--
            <p class="object-info-description">{{object.description}} </p>
            -->
            <p class="object-info-goal">Потрібно: <strong>{{object.goal}}</strong></p>
            <a class="object-info-link" href="#"><img src="../../../../assets/arrow.svg"></a>
        </div>
    </map-info-window>
</google-map>

<div class="map-buttons">
    <button mat-flat-button  aria-label="Zoom in" (click)="zoomIn()">
        <mat-icon>zoom_in</mat-icon>
    </button>
    <button mat-flat-button  aria-label="Zoom out" (click)="zoomOut()">
        <mat-icon>zoom_out</mat-icon>
    </button>
</div>